{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/animals/">Animales</a></li>
                <li><a href="/users/">Usuarios</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Aquí se renderiza el contenido de las vistas específicas -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>© 2024 BovinoMax. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
