<!-- users/templates/users/user_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h2>User List</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} - <a href="{% url 'user_edit' user.pk %}">Edit</a> - <a href="{% url 'user_delete' user.pk %}">Delete</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'user_create' %}">Create New User</a>
</body>
</html>


<!-- logout.html o donde quieras poner el enlace -->
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
